body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;    
}


header {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}


nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}


.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -30px;
}


.products {
    display: flex;
    gap: 20px;
    justify-content: center;
}


.product {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
}


.product:hover {
    transform: scale(1.05);
}


.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


button {
    background-color: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}


button:hover {
    background-color: #1c2a33;
}


form {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.dark {
    background-color: #121212;
    color: white;
}


.dark header {
    background-color: #1f1f1f;
}


.dark .product {
    background-color: #1f1f1f;
}
